<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Phase_5_Session_3.simplilearn.FacebookTest"/>
      <class name="Phase_5_Session_3.simplilearn.First_Test"/>
      <class name="Phase_5_Session_3.simplilearn.GroupTest"/>
      <class name="Phase_5_Session_3.simplilearn.AutomaticAutomation"/>
    </classes>
  </test> <!-- Test -->
  <listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
   
</suite> <!-- Suite -->
  

